<a href="https://colab.research.google.com/github/amolaka/DS-3001---Voting-Project/blob/main/merging_voting_and_pop_with_demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
# import files and load in data
# import necessary packages
! pip3 install mapclassify
import geopandas as gpd
import mapclassify
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
from mpl_toolkits.axes_grid1 import make_axes_locatable

# Load data
md = pd.read_csv('/content/model_data-2.csv') # Load in model_data (county data)
vdf = pd.read_csv('./voting_data_with_population-2.csv') # merged voting and pop df
md.drop(columns=['Unnamed: 0'], inplace=True)
md.head()

Requirement already satisfied: mapclassify in /usr/local/lib/python3.10/dist-packages (2.6.1)
Requirement already satisfied: networkx>=2.7 in /usr/local/lib/python3.10/dist-packages (from mapclassify) (3.3)
Requirement already satisfied: numpy>=1.23 in /usr/local/lib/python3.10/dist-packages (from mapclassify) (1.25.2)
Requirement already satisfied: pandas!=1.5.0,>=1.4 in /usr/local/lib/python3.10/dist-packages (from mapclassify) (2.0.3)
Requirement already satisfied: scikit-learn>=1.0 in /usr/local/lib/python3.10/dist-packages (from mapclassify) (1.2.2)
Requirement already satisfied: scipy>=1.8 in /usr/local/lib/python3.10/dist-packages (from mapclassify) (1.11.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas!=1.5.0,>=1.4->mapclassify) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas!=1.5.0,>=1.4->mapclassify) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas!=1.5.0,>=1.4->mapclassify) (2024.1)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=1.0->mapclassify) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=1.0->mapclassify) (3.5.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas!=1.5.0,>=1.4->mapclassify) (1.16.0)

,Data File Year,County Name,County Code,White alone,Black or African American alone,American Indian and Alaska Native alone,Asian alone,Native Hawaiian and Other Pacific Islander alone,0-50K,50K-100K,...,Male: Some early_log,Male: High school_log,Male: Some college or Associate's degree_log,Male: Bachelor's degree_log,Male: Master's degree or higher_log,Female: Some early_log,Female: High school_log,Female: Some college or Associate's degree_log,Female: Bachelor's degree_log,Female: Master's degree or higher_log
0,2006-2010,Accomack County,1.0,394.0,84.0,32.0,44.0,127.0,1702.0,666.0,...,6.086775,6.814543,6.274762,5.411646,5.786897,5.762051,6.833032,6.419995,5.537334,5.710427
1,2006-2010,Albemarle County,3.0,509.0,328.0,140.0,223.0,43.0,2158.0,1278.0,...,6.523562,6.971669,6.626718,6.342121,6.838405,6.313548,6.967909,6.938284,6.395262,6.837333
2,2006-2010,Alleghany County,5.0,75.0,113.0,5.0,70.0,127.0,1012.0,447.0,...,5.579730,6.148468,5.846439,4.890349,4.779123,5.293305,6.253829,5.942799,5.036953,5.627621
3,2006-2010,Amelia County,7.0,152.0,212.0,38.0,53.0,28.0,978.0,515.0,...,5.796058,6.326149,5.877736,4.976734,5.187386,4.997212,6.364751,6.049733,4.927254,5.863631
4,2006-2010,Amherst County,9.0,323.0,162.0,85.0,51.0,127.0,1406.0,635.0,...,6.016157,6.699500,6.304449,5.117994,5.370638,6.284134,6.689599,6.298949,5.365976,5.583496

In [11]:


# Map year ranges to match the format in vdf
year_range_mapping = {
    '2006-2010': '2006-2010',
    '2010-2014': '2010-2014',
    '2012-2016': '2012-2016',
    '2014-2018': '2014-2018',
    '2016-2020': '2016-2020'
}

# Apply the mapping to create a new column 'year range' in year_ranges_df
md['year range'] = md['Data File Year'].map(year_range_mapping)

In [12]:
# Define the mapping of individual years to year ranges
year_range_mapping = {
    2000: '2006-2010',
    2001: '2006-2010',
    2002: '2006-2010',
    2003: '2006-2010',
    2004: '2006-2010',
    2005: '2006-2010',
    2006: '2006-2010',
    2007: '2006-2010',
    2008: '2006-2010',
    2009: '2006-2010',
    2010: '2006-2010',
    2011: '2010-2014',
    2012: '2010-2014',
    2013: '2010-2014',
    2014: '2010-2014',
    2015: '2012-2016',
    2016: '2012-2016',
    2017: '2012-2016',
    2018: '2012-2016',
    2019: '2016-2020',
    2020: '2016-2020'
}

# Map individual years to year ranges in vdf
vdf['year range'] = vdf['year'].map(year_range_mapping)

# Merge vdf with year_ranges_df on the common column 'year range'
merged_df = pd.merge(vdf, md, on='year range', how='inner')

# Print the merged dataframe
print(merged_df)

# Save the merged dataframe as a CSV file
merged_df.to_csv("merged_data_with_year_ranges.csv", index=False)

        Unnamed: 0  year     state  county_fips      county_name  \
0                0  2000  VIRGINIA        51001         ACCOMACK
1                0  2000  VIRGINIA        51001         ACCOMACK
2                0  2000  VIRGINIA        51001         ACCOMACK
3                0  2000  VIRGINIA        51001         ACCOMACK
4                0  2000  VIRGINIA        51001         ACCOMACK
...            ...   ...       ...          ...              ...
178753         802  2020  VIRGINIA        51840  WINCHESTER CITY
178754         802  2020  VIRGINIA        51840  WINCHESTER CITY
178755         802  2020  VIRGINIA        51840  WINCHESTER CITY
178756         802  2020  VIRGINIA        51840  WINCHESTER CITY
178757         802  2020  VIRGINIA        51840  WINCHESTER CITY

        democrat_votes  republican_votes  total_votes  population year range  \
0                 5092              6352        11444     38305.0  2006-2010
1                 5092              6352        11444     38305.0  2006-2010
2                 5092              6352        11444     38305.0  2006-2010
3                 5092              6352        11444     38305.0  2006-2010
4                 5092              6352        11444     38305.0  2006-2010
...                ...               ...          ...         ...        ...
178753            6610              5221        11831     27897.0  2016-2020
178754            6610              5221        11831     27897.0  2016-2020
178755            6610              5221        11831     27897.0  2016-2020
178756            6610              5221        11831     27897.0  2016-2020
178757            6610              5221        11831     27897.0  2016-2020

        ... Male: Some early_log Male: High school_log  \
0       ...             6.086775              6.814543
1       ...             6.523562              6.971669
2       ...             5.579730              6.148468
3       ...             5.796058              6.326149
4       ...             6.016157              6.699500
...     ...                  ...                   ...
178753  ...                  NaN                   NaN
178754  ...                  NaN                   NaN
178755  ...                  NaN                   NaN
178756  ...                  NaN                   NaN
178757  ...                  NaN                   NaN

        Male: Some college or Associate's degree_log  \
0                                           6.274762
1                                           6.626718
2                                           5.846439
3                                           5.877736
4                                           6.304449
...                                              ...
178753                                           NaN
178754                                           NaN
178755                                           NaN
178756                                           NaN
178757                                           NaN

        Male: Bachelor's degree_log  Male: Master's degree or higher_log  \
0                          5.411646                             5.786897
1                          6.342121                             6.838405
2                          4.890349                             4.779123
3                          4.976734                             5.187386
4                          5.117994                             5.370638
...                             ...                                  ...
178753                          NaN                                  NaN
178754                          NaN                                  NaN
178755                          NaN                                  NaN
178756                          NaN                                  NaN
178757                          NaN                                  NaN

        Female: Some early_log  Female: High school_log  \
0                     5.762051                 6.833032
1                     6.313548                 6.967909
2                     5.293305                 6.253829
3                     4.997212                 6.364751
4                     6.284134                 6.689599
...                        ...                      ...
178753                     NaN                      NaN
178754                     NaN                      NaN
178755                     NaN                      NaN
178756                     NaN                      NaN
178757                     NaN                      NaN

        Female: Some college or Associate's degree_log  \
0                                             6.419995
1                                             6.938284
2                                             5.942799
3                                             6.049733
4                                             6.298949
...                                                ...
178753                                             NaN
178754                                             NaN
178755                                             NaN
178756                                             NaN
178757                                             NaN

        Female: Bachelor's degree_log  Female: Master's degree or higher_log
0                            5.537334                               5.710427
1                            6.395262                               6.837333
2                            5.036953                               5.627621
3                            4.927254                               5.863631
4                            5.365976                               5.583496
...                               ...                                    ...
178753                            NaN                                    NaN
178754                            NaN                                    NaN
178755                            NaN                                    NaN
178756                            NaN                                    NaN
178757                            NaN                                    NaN

[178758 rows x 65 columns]

In [7]:
merged_df.shape

(178758, 65)

In [13]:
grouped_merged_df = merged_df.groupby(['year range']).size()
print(grouped_merged_df)

year range
2006-2010    107736
2010-2014     17822
2012-2016     17822
2016-2020     35378
dtype: int64

In [14]:
# Drop duplicates based on specific columns
merged_df = merged_df.drop_duplicates(subset=['year range', 'county_name'])

# Reset index after dropping duplicates
merged_df.reset_index(drop=True, inplace=True)

In [15]:
merged_df.shape

(520, 65)

In [16]:
# Save the merged dataframe as a CSV file
merged_df.to_csv("merged_data_with_year_ranges.csv", index=False)